{% extends "network/layout.html" %}
{% load static %} 

{% block body %}
<div id="profile-view" class="container border">
    <div id="profile-summary" class="row">
        <div id="profile-user" class="col">
            <h3>{{ profile }}</h3>
        </div>
        <div id="profile-stats" class="col">
            <h4>Following:</h4>
            <div id="following-count">{{ following }}</div>
            <h4 >Followers:</h4>
            <div id="follower-count">{{ followers }}</div>
        </div>
{% if user.is_authenticated %}
    <div id="buttons" class="col">
    {{ profile|json_script:"profile" }}
    {% if profile != user.get_username %}
        {% csrf_token %}
        <button class="btn btn-primary" id="button-follow" type="button">
            {% if is_following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
    {% endif %}
    </div>
</div>

{% endif %}
<div id="profile-posts" class="row">
    {% include "network/posts.html" %}
</div>
{% endblock %}