{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <div class="container">
        {% for category in categories %}
            <div class="row">
                    <h3>
                        <a href="{% url 'category' category.name %}">{{ category.name }}</a>
                    </h3>
            </div>
        {% endfor %}
        <div class="row">
            <h3>
                <a href="{% url 'category' %}">Uncategorized</a>
            </h3>
    </div>
    </div>
{% endblock %}