{% extends 'auctions/layout.html' %}

{% block body %}

<div class="container">
    <!-- display feedback from form submissions -->
    <div class="row">
        {% if message %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endif %}
    </div>
    <!-- listing information -->
    <div class="row border">
        <div class="col border">
            <h2> {{ listing.title }} </h2>
        </div>
        <div class="col border">
            <p>{{ listing.description }}</p>
        </div>
        <div class="col border">
            {% if listing.image_link %}
                <img class="img-fluid" src="{{ listing.image_link }}" alt="">
            {% endif %}
        </div>
    </div>
    <hr>
    <!-- watchlist form -->
    <div class="row border">
        {% if user.is_authenticated %}  
            <form action="{% url 'watchlist' listing.id %}" method="post">
                {% csrf_token %}

                {% if watchlistitem %}
                    {{ watchlistform }}
                    <input type="submit" value="Remove from Watchlist">
                {% else %}
                    {{ watchlistform }}
                    <input type="submit" value="Add to Watchlist">
                {% endif %}
            </form>
        {% endif %}
    </div>
    <!-- bidding form and info -->
    <div class="row border">
        Highest bid: 
        {% if bid %}
            {{ bid.amount }}
        {% else %}
            {{ listing.starting_bid }}
        {% endif %}
    </div>
    <div class="row border">
        {% if user.is_authenticated and not listing.closed %}  
            <form action="{% url 'bid' listing.id %}" method="post">
                {% csrf_token %}
                {{ bidform }}
                <input type="submit" value="Submit Bid">
            </form>    
        {% endif %}
    </div>
    <!-- closed listing info and close listing form -->
    <div class="row border">
        {% if listing.closed %}
            <p>listing is closed.</p> &nbsp;
            {% if user == bid.user %}
                <p> You won!</p>
            {% elif user == listing.user %}
                <p>Listing won by {{ bid.user }}</p>
            {% endif %}   
        {% else %}
            {% if user == listing.user %}
                <form action="{% url 'close' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ closeform }}
                    <input type="submit" value="Close Listing">
                </form>
            {% endif %}
        {% endif %}
    </div>
    <!-- comment form  and comments -->
    <div class="row border">
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            {{ commentform }}
            <input type="submit" value="Submit Comment">
        </form>
    </div>
    <div class="container border">
        {% for comment in comments %}
            <div class="row border">
                <div class="col-1">
                    {{ comment.user }}
                </div>
                <div class="col-2">
                    {{ comment.submitted }}
                </div>
                <div class="col-9">
                    {{ comment.text }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}