{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <div class="container">
        {% for listing in listings %}
            <div class="row">
                <div class="col-sm-2">
                    <a href="{% url 'listing_view' listing.id %}">{{ listing.title }}</a>
                </div>
                <div class="col-sm-5">
                    {{ listing.description }}
                </div>
                <div class="col-sm-5">
                    {% if listing.image_link %}
                        <img class="img-fluid" src="{{ listing.image_link }}" alt="{{ listing.image_link }}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}