{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <div class="table">
        {% for listing in listings %}
            <div class="row">
                <div class="cell">
                    <a href="{% url 'listing_view' listing.id %}">{{ listing.title }}</a>
                </div>
                <div class="cell">
                    {{ listing.description }}
                </div>
                <div class="cell">
                    {% if listing.image_link %}
                        <img src="{{ listing.image_link }}" alt="">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}